body {
  background: blueviolet;
  color: aliceblue;
}

header {
  text-align: center;
  border: 5px black solid;
  background-color: brown;
  color: black;
}

footer {
  text-align: center;
  border: 5px black solid;
  background: orange;
  color: black;
}

.body {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.container {
  display: flex;
  align-items: flex-start;
}

.container div {
  border: 5px black solid;
  margin: 1em;
}

.box1 {
  padding: 1em;
  width: 300px;
  background: aquamarine;
  color: black;
}

.box2 {
  padding: 1em;
  background: olive;
  color: white;
}
